body {
    padding: 0;
    margin: 0;
    background: linear-gradient(33deg, #00470f, #d7c900, #a80000);
    background-size: 1000% 1000%;
    animation: AnimationName 12s ease infinite;
}

.mode {
    border-radius: 8px;
}

#trigger {
    height: 150px;
    background-color: rgba(23, 23, 196, 0.877);
}

#toggle {
    background-color: rgba(0, 105, 65, 0.658);
}

span {
    font-size: 0.8em
}

@keyframes AnimationName {
    0% {
        background-position: 35% 0%
    }
    50% {
        background-position: 45% 90%
    }
    100% {
        background-position: 35% 0%
    }
}