body {
    padding: 0;
    margin: 0;
}

.mode {
    border-radius: 8px;
    background: #c8c8c8;
}

#trigger {
    font-size: 6em;
    height: 100px;
    background-color: rgba(23, 23, 196, 0.877);
}
#toggle{

    background-color: rgba(0, 105, 65, 0.658);
}

span{
    font-size: 0.8em
}